body {
    background-color: #f5f5f6;
    padding-top: 100px;
}

h1 {
  color: #404040;
}

h4 {
  line-height: 1.5;
}

button, .btn {
  -webkit-appearance: none !important;
}

.btn-primary {
  border: 1px solid transparent;
}

.btn-primary:hover {
  color: #000;
  background-color: #f39325;
  border: 1px solid transparent;
}

.btn-primary span {
  float: right;
}

.card {
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.disable-me {
    pointer-events: none;
}

/***** HEADER *****/

.navbar {
  height: 80px;
  border-bottom: 4px solid #f39325;
}

.main-brand {
  position: absolute;
  top: -5px;
  width: 9.5em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
}

.main-brand a {
  padding: 1em;
}

.navbar-brand {
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap;
}

.logo {
    display: block;
    position: relative;
    width: 9em;
    height: 2.2em;
    margin: 0 auto;
    background-image: url("/img/effia-logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.main-nav {
  padding-left: 17em;
}
